<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Diefesson Imoveis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div id="app">
        <!-- Top bar-->
        <div class="navbar bg-primary">
            <span class="navbar-brand">Diefesson Imoveis</span>
        </div>

        <!-- Ads form -->
        <div class="ads-form">
            <label class="headline-01">Inserir anúncio</label>
            <div class="form-group">
                <label>Titulo</label>
                <input class="form-control" v-model="title" type="text" />
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <input class="form-control" v-model="description" type="text" />
            </div>
            <div class="form-group">
                <label>Quartos</label>
                <input class="form-control" v-model="rooms" type="number" />
            </div>
            <div class="form-group">
                <label>Vagas de caragem</label>
                <input class="form-control" v-model="parkingSpaces" type="number" />
            </div>
            <div class="form-group">
                <label>Área do terreno</label>
                <input class="form-control" v-model="terrainArea" type="number" />
            </div>
            <div class="form-group">
                <label>Área construida</label>
                <input class="form-control" v-model="buildingArea" type="number" />
            </div>
            <div class="form-group">
                <label>Localidade</label>
                <input class="form-control" v-model="localization" type="text" />
            </div>
            <div class="form-group">
                <label>Preço</label>
                <input class="form-control" v-model="price" type="number" />
            </div>
            <div class="form-group">
                <label>URL da imagem</label>
                <input class="form-control" v-model="imageUrl" type="url" />
            </div>
            <div class="ads-form-buttons">
                <button class="btn btn-secondary" v-on:click="loadAdsList()">CARREGAR</button>
                <button class="btn btn-secondary" v-on:click="clearAdsForm()">LIMPAR FORM</button>
                <button class="btn btn-secondary" v-on:click="clearAdsList()">LIMPAR LISTA</button>
                <button class="btn btn-primary" v-on:click="addAds()">INSERIR</button>
            </div>
        </div>

        <!-- Ads list -->
        <div class="ads-list">
            <label class="headline-01">Anúncios</label>
            <div class="ads-list-content" v-for="ads in adsList">
                <div class="ads">
                    <img v-bind:src="ads.imageUrl" />
                    <label>Titulo: {{ads.title}}</label>
                    <label>Descrição: {{ads.description}}</label>
                    <label>Quartos:{{ads.rooms}}</label>
                    <label>Vagas de caragem: {{ads.parkingSpaces}}</label>
                    <label>Área do terreno: {{ads.terrainArea}}</label>
                    <label>Área construida: {{ads.buildingArea}}</label>
                    <label>Localidade: {{ads.localization}}</label>
                    <label>Preço: {{ads.price}}</label>
                </div>
            </div>
        </div>

    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>